<a href="https://colab.research.google.com/github/FirmanAhmadBayumi/Machine-Learning/blob/main/Pertemuan1_FirmanAhmadBayumi_2117051062.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan 1

* Pemrograman dasar di python

## Variabel
*   Deklarasi nilai ke dalam variabel

In [ ]:
# input "8" ke dalam variabel A

A = 8
print(A)
print("Output: ", A)

8
Output:  8

In [ ]:
A = "8"
print(A)
print(type(A))
B = int(A)
print(B)
print(type(B))

8
<class 'str'>
8
<class 'int'>

In [ ]:
#input nilai sebagai list
nilai = [70, 80, 90, 100, 85]
print(nilai)
#nilai

[70, 80, 90, 100, 85]

In [ ]:
data = [80, "A", "Joni"]
print(data)

[80, 'A', 'Joni']

## Conditional
  Mengeksekusi Nilai berdasarkan Kondisi

In [ ]:
if 7 == A:
  print("Nilai 7 sama dengan nilai A yang mana adalah", A)
else:
  print("Nilai 7 tidak sama dengan A yang mana adalah", A)

Nilai 7 tidak sama dengan A yang mana adalah 8

In [ ]:
# mengecek nilai didalam list
if 70 in nilai:
  print("ada nilai 70 didalam list")
else:
  print("Tidak ada didalam list")

ada nilai 70 didalam list

## Looping
Mengekseskusi nilai berdasarkan perulangan

In [ ]:
# mencetak perkalian 2 dengan angka 0 sampai 10
for i in range(10):
  print(i*2)

0
2
4
6
8
10
12
14
16
18

## Function

## User Define Function
Mendeklarasikan fungsi yang dibuat sendiri dengan awalan nama def nama_fungsi(parameter)

In [ ]:
# Fungsi yang mencetak suatu nilai
def cetak_a():
  print("A")

#panggil fungsi cetak_a
cetak_a()

A

In [ ]:
# Fungsi yang mengembalikan suatu nilai dari suatu masukan
def cetak_pangkat_dua(x):
  x = x**2
  return x

# Panggil fungsi cetak_pangkat_dua dengan inputan tertentu
cetak_pangkat_dua(4)

16

## Built-in Function
Memanggil fungsi bawaan python

In [ ]:
nilai = [70, 80, 90, 100, 85]
# memanggil fungsi len untuk mencetak jumlah item dari list
print(len(nilai))

# memanggil fungsi max untuk mencetak item terbesar dari list
print(max(nilai))

# untuk tahu fungsi bawaan dari library yang ada, perlu baca dokumentasinya

5
100

## Library
Sekumpulan kode yang mmeiliki fungsi-fungsi tertentu dan dapat dipanggil kedalam program lain

In [ ]:
# deklarasi library dengan fungsi yang ada didalamnya
import numpy as np

# inisiasi vector dengan nilai skalar
list1 = [1,2,3,4,5]
vtr1 = np.array(list1)
scalar_value = 10

# operasi perkalian vector-scalar
vtr_scalar = vtr1 * scalar_value
print(vtr_scalar)

[10 20 30 40 50]

In [ ]:
# deklarasi library dengan mengggunakan nama alias
import pandas as pd

# membuat variabel dataframe (df) dengan isi list nilai dan nama kolom "nilai"
df = pd.DataFrame(nilai, columns = ["nilai"])
df #dataframe

   nilai
0     70
1     80
2     90
3    100
4     85

## Tugas Responsi 1

In [ ]:
# Penyelesaian soal nomor 1

import numpy as np

list1 = [1, 2, 3 ,4 ,5]
list2 = [2, 4, 6, 8, 10]

vtr1 = np.array(list1)
vtr2 = np.array(list2)

hasil = vtr1 * vtr2

print(hasil)

[ 2  8 18 32 50]

In [2]:
#penyelesaian soal nomor 2

import pandas as pd

mhs = ['Andi', 'Budi', 'Caca', 'Didi']
nilai = [7, 6, 10, 8]

def Keterangan(nilai):
  if(nilai < 7):
    return "belum lulus"
  else:
    return "lulus"

data = {
    'mahasiswa': mhs, 'nilai': nilai, 'keterangan': [Keterangan(i) for i in nilai]
}

df = pd.DataFrame(data)
df

  mahasiswa  nilai   keterangan
0      Andi      7        lulus
1      Budi      6  belum lulus
2      Caca     10        lulus
3      Didi      8        lulus

In [3]:
# Penyelesaian soal nomor 3

print(f"{df[df['keterangan'] == 'lulus'].size * 100/df.size}%")

75.0%